<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center"> Create Script </h3>
      <hr/>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>Code</label>
            <input [(ngModel)]="script.code" class="form-control" id="code" name="code"
                   type="text">
          </div>

          <br/>
          <button class="btn btn-success" type="submit">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>
